@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido {
    @include m.grid(1, 2rem);
   
   padding-top: 1.5rem;
   
   &__tranasparente {
        margin: 0 auto;
       width: 80%;
       height: auto;
    backdrop-filter: blur(4px);

    @include m.tablet {
        width: 40%;
        height: auto;
        margin-top: 10rem;
      
    }
   }

    &__titulo {
        color: v.$primario;
        text-align: center;
        font-size: 4rem;
        margin: 0;

        @include m.tablet {
          font-size: 6rem;
        }
    }

    &__texto {
       color: v.$primario;
       text-align: center;
       font-size: 2rem;
       margin: 0;
       padding-bottom: 2rem;
      @include m.tablet {
        margin-top: 10rem;
      }
    }


}