@use 'base/variables' as v;
@use 'base/mixins' as m;


.mapa {
    
    &__div {
        width: 100%;
        margin-bottom: -1rem;
       
    }

    &__img {
        width: 100%;
    }
}